/* generic font styling */
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Honk', system-ui;
    font-size: large;
}

header {
    background-color: orange;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 1px 1px pink;
}

#logo {
    display: flex;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border: 2px, solid, #3a3f3a;
    border-radius: 2px;
    font-size: 42px;
}

main {
    background-color: black;
    /*fills up surplus space*/
    flex: 1 0 auto;
}

footer {
    background-color: orange;
}