/* generic font styling */
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Honk', system-ui;
    font-size: large;
}

header {
    background-color: rgb(153, 0, 204);
    padding: 0 1rem;
    position: relative;
    width: 100%;
    z-index: 99;
    box-shadow: 0 1px 1px rgb(49, 43, 44);
}

#logo {
    text-align: center;
    font-size: 4vh;
    padding: 0px;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

/* nav bar dropdown menu*/

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    list-style-type: none;
    border: 2px, solid, #3a3f3a;
    border-radius: 1px;
    font-size: 100%;
    text-align: center;
    background-color: rgb(153, 0, 204);
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 3rem;
    align-self:center;
    padding-right: 1rem;
}

#menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    border: 2px, solid, #3a3f3a;
    border-radius: 2px;
    font-size: 3vh;
}

main {
    background-color: black;
    /*fills up surplus space*/
    flex: 1 0 auto;
    margin-bottom: 45px;
}

footer {
    background-color: rgb(153, 0, 204);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 1rem;
}

i {
    color:rgb(20, 211, 205);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    background-color: blueviolet;
}

.wrapper-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    background-color:rgb(153, 0, 204);
}

.soundtrack-text {
    width: 50%;
    height: 25%;
    padding: 1rem;
    margin: 0;
}

.responsive-iframe {
    overflow: hidden;
    border-radius: 5%;
    width: 450px;
    height: 300px;
}

/* mobile screens */

@media screen and (max-width: 768px) {

    header {
        display: flex;
        justify-content: space-evenly;
    }

    #logo {
        font-size: 170%;
    }

    nav {
        text-align: center;
    }  

    nav > a {
        font-size: 70%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
    }

    .wrapper-reverse {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
    }

    .soundtrack-text {
        width: 100%;
        text-align: center;
    }

    .responsive-iframe {
        max-width: 100%;
        max-height: fit-content;
    }

    span {
        text-align: center;
    }

}

@media screen and (min-width: 768px) {

    nav {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
            text-align: center;
            font-size: 220%;
            padding: 0px;
        }


    #menu {
            font-size: 180%;
            align-self: auto;
            margin-bottom: 1rem;
        }
}

@media screen and (min-width: 820px) {

    #menu {
        margin-bottom: 0rem;
    }

}

@media screen and (min-width: 992px) {

    #menu {
        font-size: 200%;
    }

    #menu a:hover {
        border-bottom: 10px, solid, black;
    }

    #logo {
        text-align: center;
        font-size: 320%;
        padding: 0px;
    }

    

}